<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SOUTH FIGHT! Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>SOUTH FIGHT TECHNIQUES!</h1>
  <table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr th:each=" t: ${techniques}  " >
        <td th:text= " ${t.name}  "   ></td>
        <td th:text= " ${t.description}  "   ></td>
    </tr>
  </table>

  <h2>Add a technique</h2>
    <form action="/techniques" method="POST">
        Name: <input type="text" name="name" />
        Description: <input type="text" name="description">
        <button type="submit">Add Technique</button>
    </form>
</body>
</html>